---
layout: default
---
<div class="container">
	<div class="page-title-box">
		<div class="row">
			<div class="col col-10 push-2 col-11 push-t-1 col-m-12 push-m-0">
				<h1 class="page-title">{{ page.title | escape }}</h1>
			</div>
		</div>
	</div>

	{% if page.image %}
	<div class="page__head">
		<div class="page-image" style="background-image: url({{site.baseurl}}/images/{{page.image}})"></div>
	</div>
	{% endif %}
</div>

<style>
	.page-image {
	  margin: 0 auto;                 /* 수평 중앙 정렬 */
	  width: 50%;                     /* 기본은 50% 너비 (데스크탑 등) */
	  aspect-ratio: 9 / 16;           /* 이미지의 비율 (필요에 따라 수정) */
	  background-size: contain;       /* 이미지 전체가 보이게 조정 (cover는 일부 잘릴 수 있음) */
	  background-position: center;
	  background-repeat: no-repeat;
	}
  
	/* 모바일에서는 너비를 100%로 변경 */
	@media (max-width: 768px) {
	  .page-image {
		width: 100%;
	  }
	}
  </style>

<div class="container">
	<div class="row">
		<!-- begin page -->
		<article class="page col col-8 col-t-10 col-m-12">
			<div class="page__content">
				{{ content }}
			</div>
		</article>
		<!-- end page -->
	</div>
</div>